@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url(./fonts/Roboto-Regular.ttf);
}

body{
  font-family: "Roboto", sans-serif;
  background-color: white;
  display: grid;
}

*{
  box-sizing: border-box;
}

nav{
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name{
  margin-top: 1.65%;
  margin-bottom: 1%;

}

.ul-personal-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 14%;
}
#ul-personal-links-top{
  margin-right: 2.5%;
}

main{
  display: grid;
  grid-template-columns: 0.75fr 3fr 0.75fr;
}

header{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column: 2/3;
  border-radius: 5%;
}

.intro{
  grid-column: 1/2;
  justify-content: center;
  align-items: center;
}

.tech-stack{
  grid-column: 1;
}

#site-owner-picture{
  grid-column: 2;
  max-width:  310px;
  max-height: 310px;
  min-width: 80px;
  min-height: 80px;
  margin-top: 2.5%;
  margin-bottom: -2.5%;
  margin-left: 35%;
  filter: grayscale(10%) contrast(90%);
}


section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
}

h3{
  grid-row: 1;
}

.projects-left{
  grid-row:2;
  display: grid;
  grid-column: 1/2;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2fr;
}

.projects-right{
  grid-row:2;
  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2fr;
}
.project-title{
  grid-column: 1/2;
  grid-row: 1/2;
}

.project-description{
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: auto;
}
.project-description-inner{
  font-size: 1rem;
  line-height: 1.5;
  margin-right: 20px;
}

.project-screenshot{
  justify-self: start;
  grid-row: 3/3;
  max-width: 300px;
  max-height: 250px;
  margin-left: 10px;
}

.project-links{
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.svg-links{
  max-width: 100px;
  max-height: 100px;
  min-width: 40px;
  min-height: 40px;
}

#german-flag{
  max-width: 50px;
  max-height: 50px;
}

#german-flag:hover{
  cursor: pointer;
}



section{
  grid-column: 2/3;
}

.project-screenshot{
  max-width: 500px;
  max-height: 500px;
  min-width: 100px;
  min-height: 100px;
}

li{
  list-style: none;
  margin-right: clamp(1rem, 1.2rem, 1.5rem);
}

footer{
  grid-column: 2/3;
  margin-top: 5%;  /* To do: achieve proper positioning using grid. */
  justify-items: center;
}

#mail-svg{
  max-width: 50px;
  max-height: 50px;
  min-width: 40px;
  min-height: 40px;
}

img{
  border-radius: 5%;
}