@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url(./fonts/Roboto-Regular.ttf);
}

body{
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
  max-width: 100vw;
  overflow-x: hidden;
  z-index: 2;
}

*{
  box-sizing: border-box;
}

main{
  display: grid;
  grid-template-columns: 0.75fr 3fr 0.75fr;
  grid-template-rows: auto auto auto auto;
  gap: 2rem;
}

nav{
  grid-column: 1/-1;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f0f2f5;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100vw;
  margin-left: -0.5%;
  left: 0;
  right: 0;
  min-height: 60px;
  max-height: 80px;
}

.name{
  margin-top: 1.65%;
  margin-bottom: 1%;
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 18%;
}

.ul-personal-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 14%;
}

#ul-personal-links-top{
  margin-right: 24%;
  z-index: 100;
}

.video-header{
  grid-column: 1/4;
  display: block;
  width: 100vw;
  margin-left: -0.5%;
  max-width: none;
}

video{
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2/3;
  background-color: white;
  max-width: 91%;
  max-height: 450px;
  border-radius: 10px;
}

.intro-stack{
  display: grid;
  grid-template-rows: auto auto;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 2.5%;
}

.intro{
  grid-column: 1/2;
  grid-row: 1/2;
  justify-content: center;
  align-items: center;
}

.tech-stack{
  grid-column: 1/3;
  grid-row: 2;
  z-index: 1;
  margin-top: 5%;
  white-space: nowrap;
  max-height: 80px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.tech-stack-wrapper {
  display: flex;
  align-items: flex-start;
  animation: scroll-left 10s linear infinite;
  animation-iteration-count: infinite;
  white-space: nowrap;
  max-height: 80px;
  z-index: 3;
}

.svg-tech-icon{
  max-width: 80px;
  max-height: 80px;
  min-width: 40px;
  min-height: 40px;
  overflow: hidden;
  margin-right: 5px;
}


@keyframes scroll-left{
  from {
    transform: translateX(0%);
  }
  to {
  transform: translateX(-50%);

  }
}

#site-owner-picture{
  grid-column: 2;
  max-width:  320px;
  max-height: 320px;
  min-width: 80px;
  min-height: 80px;
  filter: grayscale(10%) contrast(90%);
  z-index: 2;
  border-radius: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 35%;
  border: 4px solid white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.projects-section{
  display: grid;
  grid-column: 2/3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

h3{
  grid-row: 1;
}

.projects-left{
  grid-column: 1/2;
}

.projects-right{
  grid-column: 2;
}

.projects-left,
.projects-right{
  grid-row:2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  margin-right: 16%;
}

.project-title{
  grid-column: 1/2;
  grid-row: 1/2;
}

.project-description{
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.project-description-inner{
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-right: 2%;
}

.project-screenshot{
  justify-self: start;
  grid-row: 3/3;
  max-width: 300px;
  max-height: 250px;
  width: 100%;
  transition: transform .3s ease-in-out;
}

.project-screenshot:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.project-links{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-column: 1;
  margin-left: -8%;
}
.svg-icon{
  max-width: 100px;
  max-height: 100px;
  min-width: 40px;
  min-height: 40px;
}

#german-flag{
  max-width: 50px;
  max-height: 50px;
}

#german-flag:hover{
  cursor: pointer;
}

.project-screenshot{
  max-width: 500px;
  max-height: 500px;
  min-width: 100px;
  min-height: 100px;
}

.project-screenshot-bgr{
  max-width: 500px;
  max-height: 800px;
  min-width: 100px;
  min-height: 100px;
}


li{
  list-style: none;
  margin-right: clamp(1rem, 1.2rem, 1.5rem);
}

footer{
  grid-column: 1/-1;
  justify-items: center;
  background-color: white;
  margin-left: -0.5%;
  margin-bottom: -1%;
  width: 100vw;
}

#mail-svg{
  max-width: 50px;
  max-height: 50px;
  min-width: 40px;
  min-height: 40px;
}

img{
  border-radius: 5%;
}