@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url(./fonts/Roboto-Regular.ttf);
}

body{
  font-family: "Roboto", sans-serif;
  background-color: honeydew;
  display: grid;

}

*{
  box-sizing: border-box;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.name{
  margin-top: 1.65%;
  margin-bottom: 1%;

}
.ul-personal-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 14%;
}

main{
  display: grid;
}

.svg-links{
  max-width: 100px;
  max-height: 100px;
  min-width: 40px;
  min-height: 40px;
}

#german-flag{
  max-width: 50px;
  max-height: 50px;
}

#site-owner-picture{
  max-width: 350px;
  max-height:350px;
  min-width: 100px;
  min-height: 100px;
}

.project-screenshot{
  max-width: 500px;
  max-height: 500px;
  min-width: 100px;
  min-height: 100px;
}

li{
  list-style: none;
}

footer{
  margin-top: 5%;  /* To do: achieve proper positioning using grid. */
  justify-items: center;
}

#mail-svg{
  max-width: 50px;
  max-height: 50px;
  min-width: 40px;
  min-height: 40px;
}